<div [formGroup]="form" class="d-flex flex-column">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <div class="d-flex flex-gap">
    <mat-form-field class="flex-grow">
      <mat-label>Artist</mat-label>
      <combo-box formControlName="artistId" [options]="artists"></combo-box>
    </mat-form-field>

    <mat-form-field class="flex-grow">
      <mat-label>Genre</mat-label>
      <genre-selector [options]="genres" formControlName="genreId"></genre-selector>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>Release</mat-label>
      <input matInput [matDatepicker]="pickerRelease" formControlName="releaseDate">
      <mat-datepicker-toggle matIconSuffix [for]="pickerRelease"></mat-datepicker-toggle>
      <mat-datepicker #pickerRelease></mat-datepicker>
    </mat-form-field>
  </div>
</div>
