root = true
# Editor configuration, see https://editorconfig.org

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# ReSharper properties
resharper_csharp_indent_size = 4
resharper_csharp_indent_style = tab
resharper_csharp_tab_width = 4

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]
indent_style = space
indent_size = 4
tab_width = 4
