<mat-form-field class="w-100">
  <mat-label>Filter</mat-label>
  <input matInput [formControl]="filter">
</mat-form-field>

<table mat-table [dataSource]="elements" matSort matSortActive="title" matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="artist">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Artist</th>
    <td mat-cell *matCellDef="let element">{{ element.artistName }}</td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let element">{{ element.genreName }}</td>
  </ng-container>

  <ng-container matColumnDef="release">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Release</th>
    <td mat-cell *matCellDef="let element">{{ element.releaseDate | date:'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>
      <div class="d-flex flex-justify-center">
        <button mat-icon-button [routerLink]="['../create']">
          <mat-icon color="primary">library_add</mat-icon>
        </button>
      </div>
    </th>
    <td mat-cell *matCellDef="let row">
      <div class="d-flex flex-justify-center">
        <button mat-icon-button [routerLink]="['../edit', row.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(row.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="resultsLength"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[10, 30, 100]"
>
</mat-paginator>
