<h1 mat-dialog-title>{{ data?.id ? 'Modify' : 'Create' }} Artist</h1>

<form [formGroup]="form" (ngSubmit)="submit()" >
  <div mat-dialog-content>

      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

  </div>

  <div mat-dialog-actions align="end">
    <button
      mat-flat-button
      type="submit" color="primary"
      [disabled]="!form.valid"
    >
      {{ data?.id ? 'Save': 'Create' }}
    </button>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
