@use '@angular/material' as mat;
@use 'app/common/components/nav-menu/nav-menu.component-theme' as nav-menu;

@import 'styles/general';
@import 'styles/flex';
@import 'styles/spacing';
@import 'styles/sizing';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

// Include material core styles.
@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.all-component-themes($theme);
  @include nav-menu.theme($theme);
}

