<div class="d-flex flex-justify-center">
  <div class="d-flex flex-column flex-grow mw-md">

    <h5>Edit Album</h5>

    <album-form [formControl]="form"></album-form>

    <div class="d-flex flex-justify-end flex-gap">
      <button mat-flat-button (click)="submit()" [disabled]="!form.valid">Update</button>
      <button mat-raised-button [routerLink]="['../../list']">Cancel</button>
    </div>

    @if (id) {
      <h6>Tracks</h6>
      <track-list [albumId]="id"></track-list>
    }

  </div>
</div>
